a {
  text-decoration: none;
  
}
a:hover {
  text-decoration: none;
  
}
.wrapper{
    height: 500px;
}
.header{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    width: 50%;
    margin:50px;
    text-align: left;
    border-bottom: 2px solid #bbb;
}
.container{
    margin-top: 20px;
}
.right-banner img{
    height: 450px;
}
.left-banner img{
    height: 450px;
}
.containerForProducts{
  width: 95%;
  margin: 20px auto;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  justify-content: space-between;
  min-height: 80vh;
}
.filter{
  width: 20%;
}
.products{
  width: 78%; 
  justify-content: space-between;
}
.news{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
}
.about{
  display: flex;
  flex-wrap: nowrap;
  max-height:400px ;
}
.jumbotron-img-container{
  display: flex;
  align-items: center;
  max-height: 100%;
}
.card-header{
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-around;
  background-color: #fff !important;
}
.card-price{
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
}
.old-price{
  text-decoration: line-through;
}
.filter{
  background-color: #eee;
}
.filter-item{
  display: flex !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
.filter-header{
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
}
.useFilterBtnContainer{
  position: fixed;
  width: 150px;
  padding-bottom:10px;
  background-color: #ccc;
  border-radius:5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-height: 70px;
  z-index: 10;
  left: 6.5%;
  bottom: 5%;
  background-color: #ffbe00;
  display: none;
}
.collapseCardWraper{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.productType{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.imagesWrapper{
  height: 500px;
  width: 85%;
  height: 100%;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.description{
  width: 65%;
  height: 100%;
}
.tab-pane{
  height: 200px;
  border-bottom:1px solid #ddd;
  border-right:1px solid #ddd;
  border-left:1px solid #ddd;
  border-radius: 5px;
}
.extraInfo{
  height: 500px;
  width: 25%;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productCard{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 70%;
  height: 500px;  
}
.options{
  width: 83%;
  margin: 0 auto;
}
.sortContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  margin-bottom: 10px;
}
#priceFromValue{
  font-size: 18px;
  min-height: 40px;
}
#priceToValue{
  font-size: 18px;
  min-height: 40px;
}
#cart{
  width: 15%;
}
.register-form-container{
  position: absolute;
  right: 0;
  z-index: 10;
  width: 50%;
}
.register-form{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.user-session{
  display: flex;
  flex-wrap: nowrap;
  align-self: flex-end;
}
.login-header{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.form-register-close:hover{
  cursor:pointer;
}
.new-reply-form{
  width: 83%;
  margin:20px auto;
}
#reviews{
  overflow: auto;
}
.reviews-show{
}
.show-more-reviews{
  display: none;
  justify-content: center;
}
.show-more-reviews img:hover{
  cursor: pointer;
}
.add-product-rating{
  display: flex;
  justify-content: center;
  width:100%;
  margin-bottom: 5px;
  margin-top: 5px;
}
.close-flash:hover{
  cursor: pointer;
}